.one{
    background-color: red;
    color: white;

}
.two{
    background-color:white;
    border: none;
}
.three{
    border-color: blue;
    transition: 1s;
}
.three:hover{
    background-color: blue;
    border: blue;
    color: white;
}